﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FileUpload.aspx.cs" Inherits="ProjectManagement.FileUpload" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div>

                <%--<asp:Label ID="lblMessage" runat="server" ForeColor="Green" />--%>

                <asp:FileUpload ID="FileUpload1" runat="server" ClientIDMode="Static" Style="display: none;" AllowMultiple="true" />

                <asp:Button ID="btnSubmit" ClientIDMode="Static" runat="server" Text="Submit" OnClick="btnSubmit_Click" Style="display: none;" />
            </div>


        </div>
    </form>
</body>
</html>
