﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Recurring.aspx.cs" Inherits="ProjectManagement.Recurring" %>

<asp:Content ID="HeaderContent" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div style="height: 509px; width: 100%;">
        <%= this.Scheduler.Render()%>
    </div>

</asp:Content>
