﻿.x-sbtn .x-btn {
    margin-right: 0;
    margin-left: 0;
}

.x-sbtn .x-sbtn-first {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -khtml-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin-left: 0;
}

.x-sbtn .x-sbtn-last {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-left: 0;
    margin-right: 0;
}

.x-sbtn .x-sbtn-item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border-left: 0;
}

    .x-sbtn .x-sbtn-item td.x-frame-tl, .x-sbtn .x-sbtn-item td.x-frame-ml, .x-sbtn .x-sbtn-item td.x-frame-bl, .x-sbtn .x-sbtn-item td.x-frame-tr, .x-sbtn .x-sbtn-item td.x-frame-mr, .x-sbtn .x-sbtn-item td.x-frame-br {
        display: none;
    }

    .x-sbtn .x-sbtn-item td.x-frame-tc, .x-sbtn .x-sbtn-item td.x-frame-mc, .x-sbtn .x-sbtn-item td.x-frame-bc {
        padding-right: 3px;
        padding-left: 3px;
        border-right: 1px solid #d1d1d1;
    }

.x-sbtn .x-sbtn-last td.x-frame-tl, .x-sbtn .x-sbtn-last td.x-frame-ml, .x-sbtn .x-sbtn-last td.x-frame-bl {
    display: none;
}

.x-sbtn .x-sbtn-last td.x-frame-tc, .x-sbtn .x-sbtn-last td.x-frame-mc, .x-sbtn .x-sbtn-last td.x-frame-bc {
    padding-left: 3px;
}

.x-sbtn .x-sbtn-first td.x-frame-tr, .x-sbtn .x-sbtn-first td.x-frame-mr, .x-sbtn .x-sbtn-first td.x-frame-br {
    display: none;
}

.x-sbtn .x-sbtn-first td.x-frame-tc, .x-sbtn .x-sbtn-first td.x-frame-mc, .x-sbtn .x-sbtn-first td.x-frame-bc {
    padding-right: 3px;
    border-right: 1px solid #d1d1d1;
}

.paymo_activityfeed div.event-label {
    border: 0;
    font-size: 10px;
    line-height: 12px;
    padding: 3px;
    color: #fff;
    background-color: #666;
    width: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.paymo_activityfeed div.e-client {
    background: #333;
}

.paymo_activityfeed div.e-file {
    background: #48a8da;
}

.paymo_activityfeed div.e-tasklist {
    background: #3274e2;
}

.paymo_activityfeed div.e-invoice {
    background: #f96c26;
}

.paymo_activityfeed div.e-expensetag {
    background: #ca2f41;
}

.paymo_activityfeed div.e-expense {
    background: #ca2f41;
}

.paymo_activityfeed div.e-milestone {
    background: #8872c7;
}

.paymo_activityfeed div.e-estimate {
    background: #26b296;
}

.paymo_activityfeed div.e-comment {
    background: #949494;
}

.paymo_activityfeed div.e-project {
    background: #966443;
}

.paymo_activityfeed div.e-user {
    background: #666;
}

.paymo_activityfeed div.e-company {
    background: #e9325d;
}

.paymo_activityfeed div.e-report {
    background: #faa934;
}

.paymo_activityfeed div.e-discussion {
    background: #4960b4;
}

.paymo_activityfeed div.e-task {
    background: #5fa82f;
}

.x-boxselect.x-form-text {
    height: auto;
    cursor: text;
    padding: 0;
    overflow-y: auto;
}

.x-boxselect ul.x-boxselect-list {
    padding: 1px 3px;
}

ul.x-boxselect-list.x-boxselect-singleselect {
    white-space: nowrap;
    overflow: hidden;
}

.x-boxselect input {
    border: 0;
    background: 0;
    width: 100%;
}

.x-boxselect-input, .x-boxselect-item {
    display: inline-block;
    position: relative;
    *display: inline;
    zoom: 1;
}

.x-boxselect-stacked .x-boxselect-item {
    display: block;
}

.x-boxselect-item {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    o-border-radius: 6px;
    khtml-border-radius: 6px;
    border: 1px solid #cad8f3;
    padding: 0 1px 0 5px !important;
    margin: 1px 1px 1px 0;
    background-color: #dee7f8;
    cursor: default;
}

.x-field:not(.x-item-disabled) .x-boxselect-item:hover {
    background: #bbcef1;
    border: 1px solid #6d95e0;
}

.x-field:not(.x-item-disabled) .x-boxselect-item.selected {
    border: 1px solid #316ad3 !important;
    background: #658fdc !important;
}

.x-boxselect-item-text {
    line-height: 16px;
    padding-right: 20px !important;
}

.x-boxselect-item-close {
    cursor: pointer;
}

.x-boxselect-hideselections .x-boundlist-selected {
    display: none;
}

.amcharts-balloon-bg, .amcharts-balloon-div {
    opacity: 1;
    background: #FFF;
}

.amcharts-balloon-div-category > div {
    border: 2px solid silver;
    padding: 5px;
    margin: 0;
}

.amChartsDataSetSelector {
    font-size: 12px;
    font-family: verdana,helvetica,arial,sans-serif;
}

.amChartsPeriodSelector {
    font-size: 12px;
    font-family: verdana,helvetica,arial,sans-serif;
}

.amChartsButtonSelected {
    background-color: #c00;
    border-style: solid;
    border-color: #c00;
    border-width: 1px;
    color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    outline: 0;
    box-sizing: border-box;
}

.amChartsButton {
    color: #000;
    background: transparent;
    opacity: .7;
    border: 1px solid rgba(0,0,0,.3);
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    outline: 0;
    box-sizing: border-box;
}

.amChartsCompareList {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}

#ux-lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 25000;
    text-align: center;
    line-height: 0;
}

    #ux-lightbox img {
        width: 100%;
        height: 100%;
    }

    #ux-lightbox a img {
        border: 0;
    }

#ux-lightbox-outerImageContainer {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#ux-lightbox-imageContainer {
    padding: 10px;
}

#ux-lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
    background: url(../images/lightbox/lb-load.gif) no-repeat center 15%;
}

#ux-lightbox-hoverNav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#ux-lightbox-imageContainer > #ux-lightbox-hoverNav {
    left: 0;
}

#ux-lightbox-hoverNav a {
    outline: 0;
}

#ux-lightbox-navPrev, #ux-lightbox-navNext {
    width: 45%;
    height: 100%;
    *background-image: url(data:image/gif;base64,AAAA);
    display: block;
}

#ux-lightbox-navPrev {
    left: 0;
    margin-left: 10px;
    float: left;
}

#ux-lightbox-navNext {
    right: 0;
    margin-right: 10px;
    float: right;
}

#ux-lightbox-navPrev:hover, #ux-lightbox-navPrev:visited:hover {
    background: url(../images/lightbox/lb-prev.png) left 50% no-repeat;
}

#ux-lightbox-navNext:hover, #ux-lightbox-navNext:visited:hover {
    background: url(../images/lightbox/lb-next.png) right 50% no-repeat;
}

#ux-lightbox-outerDataContainer {
    margin: 0 auto;
    width: 100%;
}

#ux-lightbox-dataContainer {
    font: 14px Verdana,Helvetica,sans-serif;
    background-color: #fff;
    overflow: auto;
    line-height: 1.4em;
}

#ux-lightbox-data {
    padding: 0 10px;
    color: #454545;
}

    #ux-lightbox-data #ux-lightbox-details {
        width: 60%;
        float: left;
        text-align: left;
    }

    #ux-lightbox-data #ux-lightbox-bottomNav {
        float: right;
    }

    #ux-lightbox-data #ux-lightbox-caption {
        font-weight: bold;
        display: block;
        float: left;
    }

    #ux-lightbox-data #ux-lightbox-imageNumber {
        color: #777;
        display: block;
        float: left;
        clear: left;
        padding-bottom: 1.0em;
        font-size: 12px;
    }

    #ux-lightbox-data #ux-lightbox-download {
        display: block;
        background: url(../images/lightbox/download.png) no-repeat center left;
        float: left;
        clear: right;
        height: 22px;
        padding-left: 22px;
        padding-right: 28px;
    }

    #ux-lightbox-data #ux-lightbox-navClose {
        color: #454545;
        background: url(../images/lightbox/lb-close.png) no-repeat center right;
        height: 22px;
        float: right;
        outline: 0;
        padding-right: 19px;
        margin-right: 9px;
    }

#ux-lightbox-overlay, #ux-lightbox-shim {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 24999;
    width: 100%;
    height: 500px;
    background-color: #000;
    padding: 0;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

#ux-lightbox-shim {
    z-index: 89;
    background-color: transparent;
    filter: alpha(opacity=0);
}

#ux-lightbox-bottomNav, #ux-lightbox-bottomNav * {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.tile {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    min-width: 185px;
    min-height: 135px;
    font-size: 14px;
    line-height: normal;
}

    .tile.small {
        min-width: 100px;
    }

    .tile .tile-body {
        padding: 10px 15px 0;
        height: 115px;
    }

    .tile .users-body {
        padding: 10px 15px 0 11px;
        height: 115px;
    }

    .tile .title {
        color: #777;
        margin-bottom: 14px;
    }

        .tile .title .buttons {
            float: right;
        }

            .tile .title .buttons span {
                display: inline-block;
                line-height: 12px;
                cursor: pointer;
                padding-left: 7px;
            }

            .tile .title .buttons .active {
                color: #1894d5;
                text-decoration: none;
            }

                .tile .title .buttons .active > .hover {
                    text-decoration: underline;
                }

    .tile .first-line {
        font-size: 32px;
        line-height: 32px;
    }

        .tile .first-line .text {
            float: left;
        }

        .tile .first-line .label {
            float: left;
            padding: 4px;
        }

            .tile .first-line .label .sup {
                font-size: 13px;
                line-height: 10px;
                color: #999;
            }

            .tile .first-line .label .sub {
                font-size: 15px;
                font-weight: bold;
                line-height: 14px;
            }

    .tile .second-line {
        color: #555;
    }

    .tile .third-line {
        padding: 0 15px;
        line-height: 12px;
    }

    .tile .progress-bar {
        position: relative;
        padding: 4px 0;
        font-size: 10px;
        background-color: #e7e7e7;
        height: 20px;
    }

        .tile .progress-bar .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            float: left;
            padding: 4px 0;
            color: #fff;
            overflow: hidden;
        }

        .tile .progress-bar .progress-over {
            color: #fff;
            padding: 4px 0;
            position: absolute;
            height: 100%;
            top: 0;
            right: 0;
            background-color: #ff4722;
        }

    .tile.blue .first-line {
        color: #2a8fdb;
    }

    .tile.blue .progress-bar {
        color: #2a8fdb;
    }

        .tile.blue .progress-bar .progress {
            background-color: #79bee6;
        }

    .tile.orange .first-line {
        color: #ff8d41;
    }

    .tile.orange .progress-bar {
        color: #ff8d41;
    }

        .tile.orange .progress-bar .progress {
            background-color: #ff8d41;
        }

    .tile.green .first-line {
        color: #5cb33a;
    }

    .tile.green .progress-bar {
        color: #5cb33a;
    }

        .tile.green .progress-bar .progress {
            background-color: #5cb33a;
        }

    .tile.users {
        height: auto;
    }

        .tile.users .title {
            margin-left: 5px;
        }

        .tile.users .image-thumb-small {
            margin-left: 4px;
            margin-bottom: 4px;
        }

        .tile.users .add-users-btn, .tile.users .more-users-btn {
            cursor: pointer;
            background-position: top left;
        }

            .tile.users .add-users-btn.open, .tile.users .add-users-btn:hover, .tile.users .more-users-btn.open, .tile.users .more-users-btn:hover {
                background-position: top right;
            }

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}

.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 6px;
}

.x-grid-checkheader {
    height: 14px;
    background-image: url('../images/checkheader/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('../images/checkheader/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}
/*!
 * Extensible 1.6.0-b1
 * Copyright(c) 2010-2012 Extensible, LLC
 * licensing@ext.ensible.com
 * http://ext.ensible.com
 */

.x-strict .x-webkit .x-small-editor .x-form-field-wrap .x-form-trigger {
    height: 21px;
}

.x-panel-tbar .ext-cal-toolbar {
    padding: 3px;
    border-bottom-width: 0 !important;
}

    .x-panel-tbar .ext-cal-toolbar .x-btn button {
        color: #555;
    }

    .x-panel-tbar .ext-cal-toolbar .x-toolbar-cell {
        padding: 0 3px;
    }

.ext-cal-overflow-y {
    overflow-y: scroll !important;
}

.ext-cal-ct {
    position: relative;
    font-family: helvetica,arial,sans-serif;
}

.x-panel-default-framed .x-panel-body .ext-cal-ct, .x-panel-default-framed .x-panel-body .ext-evt-edit-form {
    border-left: 1px solid #99bbe8;
    border-right: 1px solid #99bbe8;
}

.x-panel-default-framed .x-panel-body .ext-cal-day-header {
    border: 0;
}

.ext-cal-ct img {
    border: 0 none;
}

.ext-cal-inner-ct {
    height: 100%;
    line-height: 14px;
    position: relative;
    background: #eee;
    white-space: nowrap;
}

.ext-cal-ct td, .ext-cal-mdv td {
    font-size: 11px;
}

.x-cal-body {
    border-top: 0 !important;
}

.x-window .x-window-body .x-cal-body {
    border: 0 !important;
}

.x-window .ext-cal-toolbar {
    border: 0 !important;
}

.ext-cal-bg-tbl {
    height: 100%;
    left: 0;
    position: absolute;
    table-layout: fixed;
    top: 0;
    width: 100%;
}

.x-ie9 .ext-cal-dayview .ext-cal-body-ct .ext-cal-bg-tbl {
    position: relative;
}

.ext-cal-hd-days-tbl {
    background: #d3e1f1;
    color: #555;
    table-layout: fixed;
    top: 18px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
}

.ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 1px solid #99bbe8;
    background: #eee;
}

.x-calendar-nonav .ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 0;
}

.ext-cal-month-hd .ext-cal-hd-day {
    border-left: 1px solid #c3d9ff;
}

.ext-cal-hd-ct {
    border-bottom: 1px solid #bcf;
}

.ext-cal-hd-day {
    text-align: center;
    padding: 4px 0;
    white-space: nowrap;
}

.ext-cal-dayview .ext-cal-hd-days-tbl {
    table-layout: fixed;
    width: 100%;
    background-color: #cddcef;
    overflow: hidden;
    font-size: 11px;
    line-height: 14px;
    height: 100%;
}

.ext-cal-hd-days-td {
    padding-bottom: 2px;
}

.ext-cal-dayview .ext-cal-hd-ct {
    height: 100%;
}

.ext-cal-dayview .ext-cal-gutter {
    width: 60px;
}

.ext-cal-dayview .ext-cal-gutter-rt {
    width: 15px;
}

.x-win .ext-cal-dayview .ext-cal-gutter-rt {
    width: 16px;
}

.x-no-scrollbar .ext-cal-hd-days-td {
    width: 100%;
}

.x-no-scrollbar .ext-cal-dayview .ext-cal-gutter-rt, .x-no-scrollbar .x-win .ext-cal-dayview .ext-cal-gutter-rt {
    width: 0;
}

.ext-cal-hd-ad {
    background-color: #fff;
    font-size: 11px;
    line-height: 14px;
    border-color: #e3e9ff #e3e9ff #e3e9ff #e3e9ff;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.ext-cal-hd-ad-inner {
    position: relative;
    height: 100%;
}

.x-calendar-nonav .ext-cal-hd-ad-inner {
    margin-top: 3px;
}

.ext-cal-dayview .ext-cal-dtitle {
    padding: 8px 1px 2px;
}

.ext-cal-hd-ad-bg-tbl {
    position: absolute;
    left: 0;
    table-layout: fixed;
    width: 100%;
}

.ext-cal-hd-ad .st-c {
    padding: 1px 1px 0 1px;
}

.ext-cal-dayview .ext-cal-body-ct {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    line-height: normal;
    background: #eee;
    margin-top: 1px;
}

    .ext-cal-dayview .ext-cal-body-ct .ext-cal-bg-tbl {
        height: 1008px;
    }

.ext-cal-dayview .ext-cal-bg-tbl {
    background-color: #fff;
    margin-top: -1px;
    border-bottom: 1px solid #bcf;
}

.ext-cal-dayview .ext-cal-bg-rows {
    position: relative;
    margin-left: 1px;
}

.ext-cal-dayview .ext-cal-bg-rows-inner {
    position: absolute;
    width: 100%;
}

.x-gecko .ext-cal-dayview .ext-cal-bg-rows-inner {
    top: -1px;
}

.ext-cal-dayview .ext-cal-bg-row {
    height: 42px;
}

.ext-cal-dayview .ext-cal-bg-row-div {
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    font-size: 1px;
    height: 21px;
    margin-bottom: 20px;
}

.ext-cal-dayview .ext-cal-bg-row .no-sep {
    border-bottom: 0;
}

.ext-cal-dayview .ext-row-1 {
    border-top: 0;
}

.ext-cal-day-times {
    background-color: #f6f9fc;
    color: #666;
    padding: 1px 0 0 0;
    text-align: right;
    vertical-align: top;
}

.ext-cal-day-time-inner {
    height: 42px;
    border-bottom: 1px solid #ddd;
    padding-right: 2px;
    white-space: nowrap;
}

.ext-cal-day-col {
    border-left: 1px solid #ddd;
    vertical-align: top;
}

.tg-col-overlaywrapper {
    position: relative;
    height: 0;
}

.tg-nowmarker {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 2px solid #ff7f6e;
    overflow: hidden;
}

.ext-cal-day-col-inner {
    position: relative;
    cursor: default;
}

.ext-cal-day-col-gutter {
    position: relative;
    margin-right: 4px;
    margin-left: 2px;
    height: 1008px;
    cursor: copy;
}

.x-ie6 .ext-cal-day-col-gutter {
    zoom: 1;
}

.ext-cal-monthview .ext-cal-hd-ct {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.ext-cal-monthview .ext-cal-body-ct {
    background: #fff;
    bottom: 0;
    left: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 100%;
}

.ext-cal-monthview .ext-cal-noheader .ext-cal-hd-ct {
    display: none;
}

.ext-cal-monthview .ext-cal-noheader .ext-cal-body-ct {
    top: 0;
}

.ext-cal-monthview .ext-cal-week-link, .ext-cal-monthview .ext-cal-week-link-hd {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #efefef;
    border-top: 1px solid #c3d9ff;
    font-size: 10px;
    color: #999;
    padding: 3px 0 0;
    text-align: center;
    cursor: pointer;
}

.ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 1px solid #99bbe8;
}

.x-calendar-nonav .ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 0;
}

.ext-cal-week-links .ext-cal-bg-tbl {
    left: 20px;
}

.ext-cal-week-links .ext-cal-evt-tbl, .ext-cal-week-links .ext-cal-hd-days-tbl {
    margin-left: 20px;
}

.ext-cal-monthview .ext-week-link-over {
    background: #e0e7ef;
}

.ext-cal-week-links .ext-cal-day-first {
    border-left: 1px solid #c3d9ff;
}

.ext-cal-hide-navbar .ext-cal-hd-ct {
    height: 25px;
}

.ext-cal-hide-navbar .ext-cal-body-ct {
    top: 24px;
}

.ext-cal-wk-ct {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
}

.ext-cal-monthview .ext-cal-wk-ct {
    height: 100%;
}

.ext-cal-day {
    border-left: 1px solid #c3d9ff;
    cursor: pointer;
}

.ext-cal-day-first {
    border-left: 0;
}

.ext-cal-ev, .ext-cal-dtitle {
    cursor: pointer;
}

.ext-cal-readonly .ext-cal-day, .ext-cal-readonly .ext-cal-dtitle {
    cursor: default;
}

.ext-day-over {
    background: #d1eaef !important;
}

.ext-cal-evt-tbl {
    position: relative;
    table-layout: fixed;
    width: 100%;
}

td.ext-cal-dtitle {
    font-family: helvetica,arial,sans-serif;
    border-top: 1px solid #c3d9ff;
    color: #a7c6df;
    line-height: 14px;
    overflow: hidden;
    text-align: right;
    font-size: 16px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

td.ext-cal-dtitle-first {
    border-top: 1px solid #bcf;
}

td.ext-cal-dtitle div {
    padding: 2px 4px 1px;
}

td.ext-cal-dtitle-today div {
    color: #bfa52f;
    white-space: nowrap;
}

.ext-cal-dtitle-time {
    font-size: 11px;
}

.ext-cal-day-we {
    background: #eff9fc;
}

.ext-cal-day-today {
    background: #fff4bf;
}

.ext-cal-dtitle-prev div, .ext-cal-dtitle-next div {
    color: #bbb;
}

.ext-cal-day-prev, .ext-cal-day-next {
    background: #efefef;
}

.ext-cal-ev {
    font-family: Verdana,sans-serif;
    padding: 1px 1px 0 2px;
    vertical-align: top;
}

.ext-cal-ev-more {
    text-align: center;
}

    .ext-cal-ev-more a, .ext-cal-ev-more a:visited {
        color: #369;
        cursor: pointer;
    }

.ext-cal-mvd-tbl {
    width: 100%;
    table-layout: fixed;
}

.ext-cal-evt {
    cursor: pointer;
    border: 0;
    padding-left: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ext-cal-evr {
    border: 0;
    padding-left: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ext-cal-evt-inner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
}

.ext-cal-evo {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 0;
    border-left: 0;
    margin: 0 1px;
    cursor: pointer;
    position: relative;
}

.ext-cal-day-col .ext-cal-evo {
    height: 100%;
}

.ext-cal-evm {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 0;
    border-bottom: 0;
    margin: 0 -1px;
    zoom: 1;
    padding-left: 3px;
}

.ext-cal-evi {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.ext-cal-day-col .ext-cal-evt {
    position: absolute;
    overflow: hidden;
    cursor: default;
    color: #fff;
    -moz-user-select: none;
}

.ext-cal-evt dl {
    margin: 0;
    border: 0;
    overflow: hidden;
    border-style: solid;
}

.x-ie6 .ext-cal-evt dl {
    zoom: 1;
}

.ext-cal-evt dd {
    margin: 0;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
    word-wrap: break-word;
}

.ext-cal-evdm {
    border: 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .ext-cal-evdm dt {
        margin-top: 0;
    }

.ext-cal-day-col .ext-cal-evt a:link, .ext-cal-day-col .ext-cal-evt a:visited, .ext-cal-day-col .ext-cal-evt a:active {
    text-decoration: none;
    color: #fff;
}

.ext-cal-evb {
    height: 0;
    overflow: hidden;
}

.x-opera .ext-cal-evb, .x-strict .x-ie .ext-cal-evb {
    height: 0;
}

.ext-cal-ev-spanboth, .ext-cal-ev-spanleft, .ext-cal-ev-spanright {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
}

.ext-cal-ev-spanleft {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    xpadding-left: 5px;
}

.ext-cal-ev-spanright {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    xpadding-right: 5px;
}

.ext-cal-ev-spanboth .ext-cal-evm {
    margin: 0;
}

.ext-cal-ev-spanright .ext-cal-evm {
    margin: 0 0 0 -1px;
}

.ext-cal-ev-spanleft .ext-cal-evm {
    margin: 0 -1px 0 0;
}

.ext-cal-ic {
    background-image: url(../images/calendarcomponent/default/calendar-sprites.gif);
    background-repeat: no-repeat;
    display: none;
    height: 11px;
    line-height: 11px;
    margin-left: 4px;
    width: 12px;
}

.ext-evt-over .ext-cal-ic {
    display: inline-block;
}

.ext-cal-ic-rcr {
    background-position: 0 0;
}

.ext-evt-block .ext-cal-ic-rcr {
    background-position: -12px 0;
}

.ext-cal-ic-rem {
    background-position: -24px 0;
}

.ext-evt-block .ext-cal-ic-rem {
    background-position: -36px 0;
}

.ext-cal-dd-sel-ct {
    display: block;
    z-index: 10;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    width: 0;
}

.ext-cal-dd-sel {
    background-color: #c3d9ff;
    font-size: 0;
    line-height: 0;
    opacity: .5;
    position: absolute;
}

.ext-evt-over {
    opacity: .8;
}

.ext-calendar-picker {
    position: relative;
}

.x-gecko .ext-calendar-picker {
    display: block;
}

.ext-calendar-picker .x-form-text {
    padding-left: 27px;
}

.ext-calendar-picker.ext-calendar-picker-empty .x-form-text {
    padding-left: 6px;
}

.ext-calendar-picker .x-combo-list-item {
    padding-left: 24px;
}

.ext-cal-picker-icon {
    width: 20px;
    height: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 20px;
}

.x-boundlist.x-boundlist-grouped.x-boundlist-grouped-width-icon .x-boundlist-item {
    padding-left: 45px;
}

.ext-cal-picker-mainicon {
    float: none;
    position: absolute;
    top: 5px;
    left: 4px;
}

.ext-evt-rsz {
    position: absolute;
    bottom: 0;
    height: 5px;
    line-height: 5px;
    width: 100%;
    text-align: center;
    cursor: s-resize;
}

.x-gecko .ext-evt-rsz, .x-webkit .ext-evt-rsz {
    cursor: ns-resize;
}

.ext-evt-rsz-h {
    display: none;
    border-top: 3px double;
    border-color: white;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    opacity: .5;
    -moz-opacity: .5;
    -khtml-opacity: .5;
}

.ext-evt-over .ext-evt-rsz-h {
    display: block;
}

.x-ie .ext-evt-rsz-h {
    border-color: #ccc;
}

.x-strict .x-ie8 .ext-evt-rsz-h {
    border-color: #fff;
    filter: alpha(opacity=50);
}

.ext-cal-day-col .ext-cal-evt {
    position: absolute;
}

.ext-cal-day-col .ext-cal-evr, .ext-cal-day-col .ext-cal-evi {
    white-space: normal;
}

.ext-dd-shim {
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .40;
    -moz-opacity: .40;
    -khtml-opacity: .40;
    filter: alpha(opacity=40);
    background: #c3d9ff;
}

.ext-dd-ghost-ct {
    color: #000;
    font: normal 11px arial,helvetica,sans-serif;
    border: 1px solid;
    border-color: #ddd #bbb #bbb #ddd;
    background-color: #fff;
    padding: 3px;
    padding-left: 20px;
    white-space: nowrap;
}

    .ext-dd-ghost-ct .x-dd-drag-ghost {
        border: 0;
        background: 0;
        padding: 0;
        width: 150px;
    }

    .ext-dd-ghost-ct .ext-evt-rsz {
        display: none;
    }

.ext-cal-nav-picker {
    border-style: none none solid;
    border-color: #99bbe8;
}

    .ext-cal-nav-picker .x-datepicker-header {
        background: #d3e1f1 url(../images/calendarcomponent/default/ext/toolbar-bg.gif) repeat-x;
    }

    .ext-cal-nav-picker .x-datepicker-month, .ext-cal-nav-picker .x-datepicker-prev, .ext-cal-nav-picker .x-datepicker-next {
        background: transparent;
    }

        .ext-cal-nav-picker .x-datepicker-prev a {
            background-image: url(../images/calendarcomponent/default/ext/page-prev.gif);
        }

        .ext-cal-nav-picker .x-datepicker-next a {
            background-image: url(../images/calendarcomponent/default/ext/page-next.gif);
        }

    .ext-cal-nav-picker .x-datepicker-month {
        padding: 3px 0;
    }

        .ext-cal-nav-picker .x-datepicker-month .x-btn-inner {
            color: #555 !important;
            font-weight: bold;
            font-family: arial,tahoma,verdana,helvetica;
        }

        .ext-cal-nav-picker .x-datepicker-month .x-btn-split-right {
            background-image: url(../images/calendarcomponent/default/ext/button-arrow.gif) !important;
            background-position: right 4px;
        }

    .ext-cal-nav-picker .x-datepicker-inner {
        border-top: 1px solid #bcf;
    }

        .ext-cal-nav-picker .x-datepicker-inner th {
            background: 0;
            border-bottom: 1px solid #bcf;
        }

        .ext-cal-nav-picker .x-datepicker-inner .x-datepicker-today a {
            border-color: #bfa52f;
            background: #fff4bf;
        }

    .ext-cal-nav-picker .x-monthpicker {
        border: 0;
        border-bottom: 1px solid #99bbe8;
        top: 0 !important;
        left: 0 !important;
    }

    .ext-cal-nav-picker .x-datepicker-footer {
        background: #d3e1f1 url(../images/calendarcomponent/default/ext/toolbar-bg.gif) repeat-x;
    }

.ext-cal-evt-win {
    z-index: 12100;
}

.x-gecko .ext-cal-event-win .x-window-body .x-form-item {
    overflow: hidden;
}

.ext-cal-event-win .x-window-body .x-panel-body {
    background: transparent;
}

.ext-cal-event-win a:link, .ext-cal-event-win a:visited {
    color: #15428b;
}

.ext-evt-edit-form {
    height: 100%;
}

    .ext-evt-edit-form .x-form-item {
        margin-bottom: 8px;
    }

    .ext-evt-edit-form .x-panel-bbar .x-toolbar {
        border-bottom: 1px solid #99bbe8;
    }

    .ext-evt-edit-form .x-panel-header {
        background: transparent url(../images/calendarcomponent/default/ext-cal-edit-hd.png) repeat-x;
        padding: 6px 0 5px 5px !important;
        font-size: 13px !important;
        font-family: helvetica,arial,sans-serif;
        border-top: 0;
        border-bottom: 1px solid #bcf;
    }

.x-panel-mc .ext-evt-edit-form .x-panel-header {
    border-top: 1px solid #99bbe8;
}

.ext-evt-edit-form .x-toolbar-footer {
    padding: 10px;
    background: #dfe8f6;
}

.ext-cal-event-win .x-panel-body {
    padding: 8px 10px 5px;
}

.x-4-0 .ext-dt-range {
    margin-bottom: 0 !important;
}

.ext-dt-range .x-form-cb-wrap {
    white-space: nowrap;
}

.extensible-cal-icon-evt-edit {
    background-image: url(../images/calendarcomponent/default/silk/calendar_edit.png) !important;
}

.extensible-cal-icon-evt-del {
    background-image: url(../images/calendarcomponent/default/silk/cross.png) !important;
}

.extensible-cal-icon-evt-move {
    background-image: url(../images/calendarcomponent/default/silk/date_go.png) !important;
}

.extensible-cal-icon-evt-copy {
    background-image: url(../images/calendarcomponent/default/silk/date_copy.png) !important;
}

.x-calendar-list {
    border-bottom: 1px solid #99bbe8;
}

    .x-calendar-list .x-panel-body {
        padding: 4px 2px 2px;
        background: #fff !important;
        font-family: helvetica,arial,sans-serif;
        font-size: 12px;
    }

    .x-calendar-list .x-panel-header-text {
        color: #555;
    }

    .x-calendar-list li {
        position: relative;
        margin-bottom: 2px;
        cursor: pointer;
    }

        .x-calendar-list li em {
            background-image: url(../images/calendarcomponent/default/calendar-sprites.gif);
            background-repeat: no-repeat;
            display: inline-block;
            position: absolute;
            height: 11px;
            line-height: 11px;
            width: 14px;
            top: 2px;
            background-position: -60px 0;
            right: 0;
        }

    .x-calendar-list .hover em {
        background-position: -48px 0;
        xright: 2px;
        opacity: .7;
        -moz-opacity: .7;
    }

    .x-calendar-list .ext-cal-evr {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

.ext-cal-hidden, .ext-cal-hidden .ext-cal-evi {
    background-image: url(../images/calendarcomponent/default/ext-cal-list-hidden.png);
    background-repeat: no-repeat;
    background-position: top right;
    opacity: .5;
    -moz-opacity: .5;
}

.x-ie .ext-cal-hidden {
    filter: alpha(opacity=50);
    zoom: 1;
}

    .x-ie .ext-cal-hidden .ext-cal-evi {
        width: 100%;
        height: 100%;
    }

.x-ie6 .ext-cal-hidden .ext-cal-evi {
    background-image: url(../images/calendarcomponent/default/ext-cal-list-hidden-ie6.png);
}

.extensible-cal-icon-cal-show {
    background-image: url(../images/calendarcomponent/default/silk/calendar_view_month.png) !important;
}

.extensible-cal-icon-cal-colors {
    background-image: url(../images/calendarcomponent/default/silk/color_wheel.png) !important;
}

.x-calendar-list-menu .x-color-picker {
    padding-left: 32px;
    width: 180px;
}

    .x-calendar-list-menu .x-color-picker a {
        border-color: #f0f0f0;
    }

.x-color-picker a:hover, .x-color-picker a.x-color-picker-selected {
    border-color: #8bb8f3;
}

.paymo-wdcalendar .x-datepicker-nonworking a {
    color: #ff0f0f;
}

    .paymo-wdcalendar .x-datepicker-nonworking a span {
        font-weight: bold;
    }

.paymo-wdcalendar .x-datepicker-disable a {
    color: #ebebeb;
}

    .paymo-wdcalendar .x-datepicker-disable a:hover {
        color: #ebebeb;
    }

.ext-cal-agendaview .description {
    padding: 0 8px 8px 32px;
}

    .ext-cal-agendaview .description:empty {
        padding: 0;
    }

.add {
    background-image: url(../images/filterbar/add.png) !important;
}

.edit {
    background-image: url(../images/filterbar/edit.png) !important;
}

.delete {
    background-image: url(../images/filterbar/delete.png) !important;
}

.activate {
    background-image: url(../images/filterbar/activate.png) !important;
}

.inactivate {
    background-image: url(../images/filterbar/inactivate.png) !important;
}

.filter {
    font-family: 'paymo-icons';
}

.clear-filters {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -112px 0;
}

.x-grid-header-ct .clear-filters {
    width: 14px !important;
    height: 14px !important;
}

.x-grid-header-ct .filter {
    position: absolute !important;
    width: auto !important;
    height: auto !important;
    top: 10px !important;
    left: 8px !important;
}

.x-panel.list.simple .x-grid-header-ct .filter {
    top: 6px !important;
}

.x-grid-header-ct .clear-filters {
    top: 39px !important;
}

.x-grid-header-ct .x-grid.list .clear-filters {
    top: 31px !important;
}

.x-grid-header-ct .x-grid.list.simple .filter {
    margin-top: 4px;
}

.x-grid-header-ct .x-action-col-img-noaction {
    cursor: default !important;
}

.x-grid-header-ct .x-form-text {
    border-width: 1px !important;
}

.x-grid-header-ct .x-form-trigger-wrap .x-form-text {
    border-right-width: 0 !important;
}

    .x-grid-header-ct .x-form-trigger-wrap .x-form-text.numeric-field {
        border-right-width: 1px !important;
    }

.x-grid-header-ct .x-form-trigger-wrap .x-form-trigger {
    border-width: 1px 1px 1px 0 !important;
}

.x-grid-header-ct .x-form-trigger-wrap .x-form-spinner-up {
    border-width: 1px 1px 0 0 !important;
}

.x-grid-header-ct .x-form-trigger-wrap .x-form-spinner-down {
    border-width: 0 1px 1px 0 !important;
}

.x-grid-header-ct .x-container.x-container-default.x-box-layout-ct {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.x-grid-header-ct .x-column-header-first .x-container.x-container-default.x-box-layout-ct {
    margin-left: 0;
}

.grid-filtered .x-column-header-inner {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.grid-filtered.x-panel.list.simple .x-grid-header-ct .x-column-header-inner {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.x-operator-button {
    width: 14px;
    height: 14px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 7px !important;
    background-color: white;
}

.x-operator-button-equal {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: 0 0 !important;
}

.x-operator-button-not-equal {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -42px 0 !important;
}

.x-operator-button-great-than {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -14px 0 !important;
}

.x-operator-button-less-than {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -28px 0 !important;
}

.x-operator-button-great-than-equal {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -56px 0 !important;
}

.x-operator-button-less-than-equal {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -70px 0 !important;
}

.x-operator-button-between {
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -140px 0 !important;
}

.x-grid-header-ct .x-column-filtered .x-column-header-inner .x-column-header-text {
    font-weight: bold;
    font-style: italic;
    color: green;
}

.ext-ux-clearbutton {
    width: 10px;
    height: 14px;
    background-image: url(../images/filterbar/filter-sprite.png) !important;
    background-position: -128px 0 !important;
    background-repeat: no-repeat;
    -moz-user-focus: ignore;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 7px !important;
    background-color: white;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
}

@font-face {
    font-family: 'paymo-icons';
    src: url('../fonts/icons/paymo-icons.eot?date=2015-02-24');
    src: url('../fonts/icons/paymo-icons.eot?date=2015-02-24#iefix') format('embedded-opentype'),url('../fonts/icons/paymo-icons.woff?date=2015-02-24') format('woff'),url('../fonts/icons/paymo-icons.ttf?date=2015-02-24') format('truetype'),url('../fonts/icons/paymo-icons.svg?date=2015-02-24#paymo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'paymo-icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-template, .icon-new-template, .icon-ungroup, .icon-group, .icon-private, .icon-pie-chart, .icon-remove-html, .icon-shared, .icon-bar-chart, .icon-to-excel, .icon-back, .icon-pdf, .icon-today, .icon-mark-as-void, .icon-mark-as-draft, .icon-mark-as-paid, .icon-calendar, .icon-send, .icon-billed, .icon-reorder, .icon-clone, .icon-add-time, .icon-print, .icon-arrow-right, .icon-arrow-left, .icon-search, .icon-template2, .icon-custom-period, .icon-new-comment, .icon-new-contact, .icon-new-milestone, .icon-filter, .icon-user, .icon-rss, .icon-set, .icon-comment, .icon-edit-2, .icon-download, .icon-upload, .icon-archive, .icon-calendar2, .icon-attachment, .icon-complex, .icon-ical, .icon-template, .icon-new, .icon-delete, .icon-no-split, .icon-split, .icon-show, .icon-simple-view2, .icon-complex-view2, .icon-add-description, .icon-arrow-up, .icon-arrow-down, .icon-image, .icon-task-info, .icon-edit, .icon-filter-bar, .icon-columns-select, .icon-task-actions {
    font-family: 'paymo-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

    .icon-add-template:before {
        content: "\e000";
    }

    .icon-new-template:before {
        content: "\e001";
    }

    .icon-ungroup:before {
        content: "\e002";
    }

    .icon-group:before {
        content: "\e003";
    }

    .icon-private:before {
        content: "\e004";
    }

    .icon-pie-chart:before {
        content: "\e005";
    }

    .icon-remove-html:before {
        content: "\e006";
    }

    .icon-shared:before {
        content: "\e007";
    }

    .icon-bar-chart:before {
        content: "\e008";
    }

    .icon-to-excel:before {
        content: "\e009";
    }

    .icon-back:before {
        content: "\e00a";
    }

    .icon-pdf:before {
        content: "\e00b";
    }

    .icon-today:before {
        content: "\e016";
    }

    .icon-mark-as-void:before {
        content: "\e017";
    }

    .icon-mark-as-draft:before {
        content: "\e018";
    }

    .icon-mark-as-paid:before {
        content: "\e019";
    }

    .icon-calendar:before {
        content: "\e01a";
    }

    .icon-send:before {
        content: "\e01b";
    }

    .icon-billed:before {
        content: "\e01c";
    }

    .icon-reorder:before {
        content: "\e01d";
    }

    .icon-clone:before {
        content: "\e01e";
    }

    .icon-add-time:before {
        content: "\e01f";
    }

    .icon-print:before {
        content: "\e020";
    }

    .icon-arrow-right:before {
        content: "\e021";
    }

    .icon-arrow-left:before {
        content: "\e022";
    }

    .icon-search:before {
        content: "\e023";
    }

    .icon-template2:before {
        content: "\e024";
    }

    .icon-custom-period:before {
        content: "\e025";
    }

    .icon-new-comment:before {
        content: "\e026";
    }

    .icon-new-contact:before {
        content: "\e027";
    }

    .icon-new-milestone:before {
        content: "\e028";
    }

    .icon-filter:before {
        content: "\e029";
    }

    .icon-user:before {
        content: "\e02a";
    }

    .icon-rss:before {
        content: "\e02b";
    }

    .icon-set:before {
        content: "\e02c";
    }

    .icon-comment:before {
        content: "\e02d";
    }

    .icon-edit-2:before {
        content: "\e02e";
    }

    .icon-download:before {
        content: "\e02f";
    }

    .icon-upload:before {
        content: "\e030";
    }

    .icon-archive:before {
        content: "\e031";
    }

    .icon-calendar2:before {
        content: "\e032";
    }

    .icon-attachment:before {
        content: "\e033";
    }

    .icon-complex:before {
        content: "\e034";
    }

    .icon-ical:before {
        content: "\e035";
    }

    .icon-template:before {
        content: "\e036";
    }

    .icon-new:before {
        content: "\e037";
    }

    .icon-delete:before {
        content: "\e038";
    }

    .icon-no-split:before {
        content: "\e039";
    }

    .icon-split:before {
        content: "\e03a";
    }

    .icon-show:before {
        content: "\e00c";
    }

    .icon-simple-view2:before {
        content: "\e00d";
    }

    .icon-complex-view2:before {
        content: "\e00e";
    }

    .icon-add-description:before {
        content: "\e00f";
    }

    .icon-arrow-up:before {
        content: "\e010";
    }

    .icon-arrow-down:before {
        content: "\e011";
    }

    .icon-image:before {
        content: "\e012";
    }

    .icon-task-info:before {
        content: "\e013";
    }

    .icon-edit:before {
        content: "\e014";
    }

    .icon-filter-bar:before {
        content: "\e015";
    }

    .icon-columns-select:before {
        content: "\e03b";
    }

    .icon-task-actions:before {
        content: "\e03c";
    }

@font-face {
    font-family: 'paymo-menu-icons';
    src: url('../fonts/app-icons/paymo-menu-icons.eot?date=2012-12-09');
    src: url('../fonts/app-icons/paymo-menu-icons.eot?date=2012-12-09#iefix') format('embedded-opentype'),url('../fonts/app-icons/paymo-menu-icons.woff?date=2012-12-09') format('woff'),url('../fonts/app-icons/paymo-menu-icons.ttf?date=2012-12-09') format('truetype'),url('../fonts/app-icons/paymo-menu-icons.svg?date=2012-12-09#paymo-menu-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'paymo-menu-icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-timesheets, .app-reports, .app-expenses, .app-users, .app-estimates, .app-invoicing, .app-clients, .app-dashboard, .app-projects, .app-mytasks, .app-shortcut, .app-recurring-profiles, .app-add-shortcut, .app-remove-shortcut, .app-billing {
    font-family: 'paymo-menu-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

    .app-timesheets:before {
        content: "\e001";
    }

    .app-reports:before {
        content: "\e002";
    }

    .app-expenses:before {
        content: "\e003";
    }

    .app-users:before {
        content: "\e004";
    }

    .app-estimates:before {
        content: "\e005";
    }

    .app-invoicing:before {
        content: "\e006";
    }

    .app-clients:before {
        content: "\e007";
    }

    .app-dashboard:before {

        content: "\e008";
    }

    .app-projects:before {
        content: "\e009";
    }

    .app-mytasks:before {
        content: "\e000";
    }

    .app-shortcut:before {
        content: "\e00b";
    }

    .app-recurring-profiles:before {
        content: "\e00c";
    }

    .app-add-shortcut:before {
        content: "\e00a";
    }

    .app-remove-shortcut:before {
        content: "\e00d";
    }

    .app-billing:before {
        content: "\e00e";
    }
